# Bundesliga
Group-Nr. 17

Betim Durmishi<br>
durmibet@students.zhaw.ch<br>
BA.WIN.23HS.VZa

Simon Lindenmann<br>
lindesi2@students.zhaw.ch<br>
BA.WIN.23HS.VZa

Yannick Loretan<br>
loretyan@student.zhaw.ch<br>
BA.WIN.23HS.VZa

# Imports, libraries and setting

In [3]:
# Libraries
import os
import numpy as np
import pandas as pd
import folium

# Ignore Warnings


#Show current working directory
print(os.getcwd())

/workspaces/ProjectDataAnalytics

# Create Dataframes

In [10]:
df_spieler = pd.read_csv('spieler_profil.csv', sep=';')
df_spieler.head()

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
0,1.FC Heidenheim 1846,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts
1,1.FC Heidenheim 1846,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts
2,1.FC Heidenheim 1846,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links
3,1.FC Heidenheim 1846,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links
4,1.FC Heidenheim 1846,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links

In [8]:
df_seasons = pd.read_csv('combined_seasons.csv', sep=';')
df_seasons.head()

,spieler_id,Wettbewerb_id,Saison,Wettbewerb,Verein,Einsätze,Tore,Torvorlagen,Spiele ohne Gegentor,Eingesetzte Minuten
0,43824,1,'24/25',Bundesliga,1.FC Heidenheim 1846,16,-,NaN,5,1440
1,43824,1,'23/24',Bundesliga,1.FC Heidenheim 1846,34,-,NaN,6,3060
2,43824,1,'22/23',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,15,3060
3,43824,1,'21/22',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,8,3060
4,43824,1,'20/21',2. Bundesliga,1.FC Heidenheim 1846,33,-,NaN,10,2970

In [26]:
df_value = pd.read_csv('market_value_data.csv', sep=';')
df_value.head()

   player_id     year  market_value
0     133731  2025.00    2956676.14
1     133731  2024.57    2956676.14
2     133731  2023.94    2913352.27
3     133731  2023.45    2913352.27
4     133731  2023.30    2913352.27

# Data preperation

### Replace content with realistic data by using regex

In [ ]:
season = []
for i in df['']:
    d1 = re.findall('(.*)Zimmer', i)
    try:
        d2 = d1[0].strip().replace(',', '.')
    except:
        d2 = None
    rooms.append(d2)

### Count, identify and remove missing values

In [25]:
from IPython.display import display
# -------------------------
# Fehlende Werte zählen
# -------------------------
 
print('Count missing values per variable in df_spieler')
print(df_spieler.isna().sum(), '\n')
 
print('Count missing values per variable in df_seasons')
print(df_seasons.isna().sum(), '\n')
 
# -------------------------
# Zeilen mit fehlenden Werten identifizieren
# -------------------------
 
print('Identify rows with missing values in df_spieler')
display(df_spieler[df_spieler.isna().any(axis=1)])
 
print('Identify rows with missing values in df_seasons')
display(df_seasons[df_seasons.isna().any(axis=1)])
 
# -------------------------
# Zeilen mit fehlenden Werten entfernen
# -------------------------
 
df_spieler_cleaned = df_spieler.dropna()
df_seasons_cleaned = df_seasons.dropna()
 
# -------------------------
# Anzeigeoptionen anpassen (für große DataFrames)
# -------------------------
 
pd.set_option('display.max_columns', None)  # Alle Spalten anzeigen
pd.set_option('display.max_rows', 20)       # Bis zu 20 Zeilen anzeigen
 
# -------------------------
# Bereinigte DataFrames anzeigen
# -------------------------
 
print("Bereinigter df_spieler DataFrame:")
display(df_spieler_cleaned)
 
print("Bereinigter df_seasons DataFrame:")
display(df_seasons_cleaned)
 
# -------------------------
# Optional: Überprüfen, ob DataFrames leer sind
# -------------------------
 
print("Form von df_spieler_cleaned:", df_spieler_cleaned.shape)
print("Form von df_seasons_cleaned:", df_seasons_cleaned.shape)

Count missing values per variable in df_spieler
Vereinsname             0
Spieler_id              0
Name                    0
Geburtsdatum            1
Spieleralter            1
Geburtsort              6
Staatsbuergerschaft     1
Groesse_in_M            2
Position                1
Fuss                   12
dtype: int64

Count missing values per variable in df_seasons
spieler_id                  0
Wettbewerb_id               0
Saison                      0
Wettbewerb                  0
Verein                      0
Einsätze                    0
Tore                        0
Torvorlagen              2045
Spiele ohne Gegentor    12053
Eingesetzte Minuten         0
dtype: int64

Identify rows with missing values in df_spieler

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
33,1.FC Union Berlin,698840,Yannic Stein,17.09.2004,20,Berlin,Deutschland,1.90,Torwart,NaN
185,Eintracht Frankfurt,605268,Igor Matanovic,31.03.2003,21,Hamburg,Kroatien/Deutschland,1.94,Sturm - Mittelstuermer,NaN
202,FC Augsburg,730486,Mahmut Kucuksahin,07.04.2004,20,NaN,Tuerkei/Deutschland,NaN,Mittelfeld - Defensives Mittelfeld,NaN
258,FC St. Pauli,1003534,Marwin Schmitz,07.01.2007,18,NaN,Deutschland,1.80,Mittelfeld - Defensives Mittelfeld,rechts
263,FC St. Pauli,501049,Erik Ahlstrand,14.10.2001,23,Halmstad,Schweden,1.84,Mittelfeld - Zentrales Mittelfeld,NaN
274,FC St. Pauli,1280281,Abdoulie Ceesay,05.01.2004,21,NaN,Gambia,1.85,Sturm - Mittelstuermer,NaN
290,Holstein Kiel,651269,Armin Gigovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,RB Leipzig,1074526,Viggo Gebel,22.11.2007,17,NaN,Deutschland,1.75,Mittelfeld - Offensives Mittelfeld,NaN
381,TSG 1899 Hoffenheim,432671,Luca Philipp,28.11.2000,24,Stuttgart,Deutschland,1.92,Torwart,NaN
382,TSG 1899 Hoffenheim,718460,Lukas Petersson,09.02.2004,20,Duesseldorf,Island/Deutschland,1.95,Torwart,NaN
436,VfB Stuttgart,1031774,Jarzinho Malanga,10.07.2006,18,NaN,Deutschland/Brasilien,1.79,Sturm - Linksaussen,rechts
445,VfB Stuttgart,675565,Thomas Kastanaras,09.01.2003,22,Stuttgart,Deutschland/Griechenland,1.86,Sturm - Mittelstuermer,NaN
465,VfL Bochum,796221,Mats Pannewig,28.10.2004,20,Hamm,Deutschland,1.95,Mittelfeld - Zentrales Mittelfeld,NaN
497,VfL Wolfsburg,897479,Bennit Broger,01.07.2006,18,Braunschweig,Deutschland,1.81,Mittelfeld - Offensives Mittelfeld,NaN

Identify rows with missing values in df_seasons

,spieler_id,Wettbewerb_id,Saison,Wettbewerb,Verein,Einsätze,Tore,Torvorlagen,Spiele ohne Gegentor,Eingesetzte Minuten
0,43824,1,'24/25',Bundesliga,1.FC Heidenheim 1846,16,-,NaN,5,1440
1,43824,1,'23/24',Bundesliga,1.FC Heidenheim 1846,34,-,NaN,6,3060
2,43824,1,'22/23',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,15,3060
3,43824,1,'21/22',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,8,3060
4,43824,1,'20/21',2. Bundesliga,1.FC Heidenheim 1846,33,-,NaN,10,2970
...,...,...,...,...,...,...,...,...,...,...
14093,535551,2,'22/23',DFB-Pokal,VfL Wolfsburg,-,-,-,NaN,-
14094,535551,2,'20/21',DFB-Pokal,VfL Wolfsburg,4,-,-,NaN,41
14095,535551,2,'19/20',Polnischer Pokal,Zaglebie Lubin,1,-,-,NaN,78
14096,535551,2,'19/20',Polnischer Pokal,Zaglebie Lubin II,1,1,-,NaN,60
14097,535551,3,'20/21',Europa League Quali,VfL Wolfsburg,1,-,-,NaN,11

Bereinigter df_spieler DataFrame:

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
0,1.FC Heidenheim 1846,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts
1,1.FC Heidenheim 1846,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts
2,1.FC Heidenheim 1846,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links
3,1.FC Heidenheim 1846,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links
4,1.FC Heidenheim 1846,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links
...,...,...,...,...,...,...,...,...,...,...
501,VfL Wolfsburg,391004,Jonas Wind,07.02.1999,25,Hvidovre,Daenemark,1.90,Sturm - Mittelstuermer,rechts
502,VfL Wolfsburg,616344,Tiago Tomas,16.06.2002,22,Cascais,Portugal,1.80,Sturm - Mittelstuermer,rechts
503,VfL Wolfsburg,314288,Lukas Nmecha,14.12.1998,26,Hamburg,Deutschland/England,1.85,Sturm - Mittelstuermer,rechts
504,VfL Wolfsburg,117432,Kevin Behrens,03.02.1991,33,Bremen,Deutschland,1.85,Sturm - Mittelstuermer,beidfuessig
505,VfL Wolfsburg,535551,Bartosz Bialek,11.11.2001,23,Brzeg,Polen,1.91,Sturm - Mittelstuermer,rechts

Bereinigter df_seasons DataFrame:

Empty DataFrame
Columns: [spieler_id, Wettbewerb_id, Saison, Wettbewerb, Verein, Einsätze, Tore, Torvorlagen, Spiele ohne Gegentor, Eingesetzte Minuten]
Index: []

Form von df_spieler_cleaned: (492, 10)
Form von df_seasons_cleaned: (0, 10)

### Count, identify and remove duplicated values

In [21]:
# Count duplicated values in df_spieler
duplicated_values_spieler = df_spieler.duplicated().sum()
print("Duplicated values in df_spieler:", duplicated_values_spieler)

# Identify duplicated rows in df_spieler
duplicated_rows_spieler = df_spieler[df_spieler.duplicated()]
print("Duplicated rows in df_spieler:\n", duplicated_rows_spieler)

# Remove duplicated rows in df_spieler
df_spieler_cleaned = df_spieler.drop_duplicates()
df_spieler_cleaned.head()

# Count duplicated values in df_seasons
duplicated_values_seasons = df_seasons.duplicated().sum()
print("Duplicated values in df_seasons:", duplicated_values_seasons)

# Identify duplicated rows in df_seasons
duplicated_rows_seasons = df_seasons[df_seasons.duplicated()]
print("Duplicated rows in df_seasons:\n", duplicated_rows_seasons)

# Remove duplicated rows in df_seasons
df_seasons_cleaned = df_seasons.drop_duplicates()
df_seasons_cleaned.head()

Duplicated values in df_spieler: 0
Duplicated rows in df_spieler:
 Empty DataFrame
Columns: [Vereinsname, Spieler_id, Name, Geburtsdatum, Spieleralter, Geburtsort, Staatsbuergerschaft, Groesse_in_M, Position, Fuss]
Index: []
Duplicated values in df_seasons: 0
Duplicated rows in df_seasons:
 Empty DataFrame
Columns: [spieler_id, Wettbewerb_id, Saison, Wettbewerb, Verein, Einsätze, Tore, Torvorlagen, Spiele ohne Gegentor, Eingesetzte Minuten]
Index: []

,spieler_id,Wettbewerb_id,Saison,Wettbewerb,Verein,Einsätze,Tore,Torvorlagen,Spiele ohne Gegentor,Eingesetzte Minuten
0,43824,1,'24/25',Bundesliga,1.FC Heidenheim 1846,16,-,NaN,5,1440
1,43824,1,'23/24',Bundesliga,1.FC Heidenheim 1846,34,-,NaN,6,3060
2,43824,1,'22/23',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,15,3060
3,43824,1,'21/22',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,8,3060
4,43824,1,'20/21',2. Bundesliga,1.FC Heidenheim 1846,33,-,NaN,10,2970

### Create new variables, enrich the data with open data

# Data storage in database

### Create database

### Create ...-table in the database

### Read data from file to data frame

### Write data to the ...-table in data base

### Query the ...-table

# EDA

## Univariete Non-Graphical EDA

summary, mean, mode, std, groupby, aggregation, variance, value_count, corelation, covariance

## Multivariate Graphical EDA

plot, histogram, matplotlib, boxplot, seaborn, scatter

# Regression Modeling

## Lineaer Regression Model for...

 r-squared, mse

## Random Forest Regression

Weshalb wurde der Code im anderen Projekt genutzt? 
- Ein Random Forest Regressor wurde zur Vorhersage des Marktwerts verwendet, um nichtlineare Zusammenhänge besser abzubilden. (Feature Importance könnte man auch beachten)

Als Orierntierung folgende Dateien aus den Übungen verwenden:
- linear_regression.html
- regression_trees_random_forest.html

# k-means clustering (wird als Synonym für classification verwendet)

Als Orientierung folgende Dateien aus den Übungen verwenden:
- classification_analysis_supermarkets.html
- classification_analysis_titanic.html
- NLP_hotel_reviews_sentiment_prediction.html

# Correct interpretation of model results and measures of fit.

Für Regression verwendete Metriken: MSE, R-squared, fit, Interpretation

Für Classification verwendete Metriken: Accuracy, Precision, Recall, F1-Score, Confusion Matrix, MSE, R-squared, Model Evaluation

Frage 6 wird auch von solchen Metriken gesprochen, die man verwenden soll/darf.