# Bundesliga
Group-Nr. 17

Betim Durmishi<br>
durmibet@students.zhaw.ch<br>
BA.WIN.23HS.VZa

Simon Lindenmann<br>
lindesi2@students.zhaw.ch<br>
BA.WIN.23HS.VZa

Yannick Loretan<br>
loretyan@student.zhaw.ch<br>
BA.WIN.23HS.VZa

# Imports, libraries and setting

In [4]:
# Libraries
import os
import numpy as np
import pandas as pd
#import folium

# Ignore Warnings


#Show current working directory
print(os.getcwd())

/workspaces/ProjectDataAnalytics

# Create Dataframes

In [5]:
df_spieler = pd.read_csv('spieler_profil.csv', sep=';')
df_spieler.head()

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
0,1.FC Heidenheim 1846,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts
1,1.FC Heidenheim 1846,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts
2,1.FC Heidenheim 1846,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links
3,1.FC Heidenheim 1846,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links
4,1.FC Heidenheim 1846,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links

In [6]:
df_seasons = pd.read_csv('combined_seasons.csv', sep=';')
df_seasons.head()

,spieler_id,Wettbewerb_id,Saison,Wettbewerb,Verein,Einsätze,Tore,Torvorlagen,Spiele ohne Gegentor,Eingesetzte Minuten
0,43824,1,'24/25',Bundesliga,1.FC Heidenheim 1846,16,-,NaN,5,1440
1,43824,1,'23/24',Bundesliga,1.FC Heidenheim 1846,34,-,NaN,6,3060
2,43824,1,'22/23',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,15,3060
3,43824,1,'21/22',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,8,3060
4,43824,1,'20/21',2. Bundesliga,1.FC Heidenheim 1846,33,-,NaN,10,2970

In [7]:
df_value = pd.read_csv('market_value_data.csv', sep=';')
df_value.head()

   player_id     year  market_value
0     133731  2025.00    2956676.14
1     133731  2024.57    2956676.14
2     133731  2023.94    2913352.27
3     133731  2023.45    2913352.27
4     133731  2023.30    2913352.27

# Data preperation

### Replace content with realistic data by using regex

In [8]:
season = []
for i in df['']:
    d1 = re.findall('(.*)Zimmer', i)
    try:
        d2 = d1[0].strip().replace(',', '.')
    except:
        d2 = None
    rooms.append(d2)

NameError: name 'df' is not defined

In [9]:
print(df_value)

      player_id     year  market_value
0        133731  2025.00    2956676.14
1        133731  2024.57    2956676.14
2        133731  2023.94    2913352.27
3        133731  2023.45    2913352.27
4        133731  2023.30    2913352.27
...         ...      ...           ...
8349     535551  2021.33    3267045.45
8350     535551  2021.18    3700284.09
8351     535551  2020.93    4133522.73
8352     535551  2020.73    4133522.73
8353     535551  2020.20    4306818.18

[8354 rows x 3 columns]

In [25]:
# Ergebnisse speichern
result_rows = []

# Spieler-IDs durchlaufen
for player_id in df_value["player_id"].unique():
    # Daten für den aktuellen Spieler filtern
    player_data = df_value[df_value["player_id"] == player_id]

    # Tiefstes Jahr finden und runden
    min_year = player_data["year"].min()
    min_year_rounded = int(round(min_year))

    # Von min_year_rounded bis 2025 iterieren
    for year in range(min_year_rounded, 2026):
        # Daten innerhalb von ±0.5 des aktuellen Jahres filtern
        year_data = player_data[(player_data["year"] > year - 0.5) & (player_data["year"] <= year + 0.5)]

        if len(year_data) > 0:
            # Durchschnitt berechnen, falls Daten vorhanden sind
            avg_market_value = year_data["market_value"].mean()
        else:
            # Durchschnitt aus nächstgelegenen Jahren berechnen
            before_year_data = player_data[player_data["year"] < year]
            after_year_data = player_data[player_data["year"] > year]

            avg_before = before_year_data["market_value"].mean() if len(before_year_data) > 0 else np.nan
            avg_after = after_year_data["market_value"].mean() if len(after_year_data) > 0 else np.nan

            # Durchschnitt von beiden oder nächstliegendem Jahr, falls eins fehlt
            avg_market_value = np.nanmean([avg_before, avg_after])

        # Marktwert auf die nächsten 100 runden
        avg_market_value = round(avg_market_value / 100) * 100 if not np.isnan(avg_market_value) else np.nan

        # Ergebnis speichern
        result_rows.append({
            "player_id": player_id,
            "year": year,
            "avg_market_value": avg_market_value
        })

# Ergebnisse in einen DataFrame umwandeln
result_df = pd.DataFrame(result_rows)
df_value = result_df
# Ausgabe anzeigen
df_value.head(25)

    player_id  year  avg_market_value
0      133731  2012            545000
1      133731  2013           1050400
2      133731  2014           1440300
3      133731  2015           1440300
4      133731  2016           1353700
..        ...   ...               ...
20     337092  2025           2391700
21     192169  2014            267000
22     192169  2015            411500
23     192169  2016           1191300
24     192169  2017           1494600

[25 rows x 3 columns]

### Count, identify and remove missing values

In [38]:
# Zeilen mit fehlenden Werten identifizieren und löschen
columns_to_check_spieler = ['Geburtsdatum', 'Spieleralter', 'Geburtsort', 'Staatsbuergerschaft', 'Groesse_in_M', 'Position', 'Fuss']
columns_to_check_seasons = ['Saison', 'Wettbewerb', 'Verein', 'Einsätze', 'Tore', 'Torvorlagen', 'Spiele ohne Gegentor', 'Eingesetzte Minuten']

# Spieler-Daten: Zeilen, die gelöscht werden, identifizieren
deleted_spieler = df_spieler[df_spieler[columns_to_check_spieler].isna().all(axis=1)]
df_spieler_cleaned = df_spieler.dropna(subset=columns_to_check_spieler, how='all')

# Anzeige der gelöschten Zeilen
print("Gelöschte Zeilen in df_spieler:")
display(deleted_spieler)

# Bereinigter df_spieler anzeigen
print("Bereinigter df_spieler DataFrame:")
display(df_spieler_cleaned)

# Saison-Daten: Zeilen, die gelöscht werden, identifizieren
deleted_seasons = df_seasons[df_seasons[columns_to_check_seasons].isna().all(axis=1)]
df_seasons_cleaned = df_seasons.dropna(subset=columns_to_check_seasons, how='all')

# Anzeige der gelöschten Zeilen
print("Gelöschte Zeilen in df_seasons:")
display(deleted_seasons)

# Bereinigter df_seasons anzeigen
print("Bereinigter df_seasons DataFrame:")
display(df_seasons_cleaned)

Gelöschte Zeilen in df_spieler:

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
290,Holstein Kiel,651269,Armin Gigovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Bereinigter df_spieler DataFrame:

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
0,1.FC Heidenheim 1846,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts
1,1.FC Heidenheim 1846,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts
2,1.FC Heidenheim 1846,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links
3,1.FC Heidenheim 1846,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links
4,1.FC Heidenheim 1846,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links
...,...,...,...,...,...,...,...,...,...,...
501,VfL Wolfsburg,391004,Jonas Wind,07.02.1999,25,Hvidovre,Daenemark,1.90,Sturm - Mittelstuermer,rechts
502,VfL Wolfsburg,616344,Tiago Tomas,16.06.2002,22,Cascais,Portugal,1.80,Sturm - Mittelstuermer,rechts
503,VfL Wolfsburg,314288,Lukas Nmecha,14.12.1998,26,Hamburg,Deutschland/England,1.85,Sturm - Mittelstuermer,rechts
504,VfL Wolfsburg,117432,Kevin Behrens,03.02.1991,33,Bremen,Deutschland,1.85,Sturm - Mittelstuermer,beidfuessig
505,VfL Wolfsburg,535551,Bartosz Bialek,11.11.2001,23,Brzeg,Polen,1.91,Sturm - Mittelstuermer,rechts

KeyError: "['Einsaetze'] not in index"

In [35]:
print(df_spieler_cleaned)

              Vereinsname  Spieler_id             Name Geburtsdatum  \
0    1.FC Heidenheim 1846       43824     Kevin Muller   15.03.1991
1    1.FC Heidenheim 1846      806948     Frank Feller   07.01.2004
2    1.FC Heidenheim 1846       57796     Vitus Eicher   05.11.1990
3    1.FC Heidenheim 1846      519035  Paul Tschernuth   20.01.2002
4    1.FC Heidenheim 1846      227084  Benedikt Gimber   19.02.1997
..                    ...         ...              ...          ...
501         VfL Wolfsburg      391004       Jonas Wind   07.02.1999
502         VfL Wolfsburg      616344      Tiago Tomas   16.06.2002
503         VfL Wolfsburg      314288     Lukas Nmecha   14.12.1998
504         VfL Wolfsburg      117432    Kevin Behrens   03.02.1991
505         VfL Wolfsburg      535551   Bartosz Bialek   11.11.2001

    Spieleralter Geburtsort  Staatsbuergerschaft  Groesse_in_M  \
0             33    Rostock          Deutschland          1.90
1             21   Leonberg          Deutschland          1.83
2             34     Erding          Deutschland          1.91
3             22   Salzburg          Oesterreich          1.86
4             27     Buchen          Deutschland          1.87
..           ...        ...                  ...           ...
501           25   Hvidovre            Daenemark          1.90
502           22    Cascais             Portugal          1.80
503           26    Hamburg  Deutschland/England          1.85
504           33     Bremen          Deutschland          1.85
505           23      Brzeg                Polen          1.91

                      Position         Fuss
0                      Torwart       rechts
1                      Torwart       rechts
2                      Torwart        links
3                      Torwart        links
4    Abwehr - Innenverteidiger        links
..                         ...          ...
501     Sturm - Mittelstuermer       rechts
502     Sturm - Mittelstuermer       rechts
503     Sturm - Mittelstuermer       rechts
504     Sturm - Mittelstuermer  beidfuessig
505     Sturm - Mittelstuermer       rechts

[505 rows x 10 columns]

In [ ]:
df_spieler_cleaned = df_spieler.dropna()
df_seasons_cleaned = df_seasons.dropna()
 
# -------------------------
# Anzeigeoptionen anpassen (für große DataFrames)
# -------------------------
 
pd.set_option('display.max_columns', None)  # Alle Spalten anzeigen
pd.set_option('display.max_rows', 20)       # Bis zu 20 Zeilen anzeigen
 
# -------------------------
# Bereinigte DataFrames anzeigen
# -------------------------
 
print("Bereinigter df_spieler DataFrame:")
display(df_spieler_cleaned)
 
print("Bereinigter df_seasons DataFrame:")
display(df_seasons_cleaned)
 
# -------------------------
# Optional: Überprüfen, ob DataFrames leer sind
# -------------------------
 
print("Form von df_spieler_cleaned:", df_spieler_cleaned.shape)
print("Form von df_seasons_cleaned:", df_seasons_cleaned.shape)

Bereinigter df_spieler DataFrame:

,Vereinsname,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss
0,1.FC Heidenheim 1846,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts
1,1.FC Heidenheim 1846,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts
2,1.FC Heidenheim 1846,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links
3,1.FC Heidenheim 1846,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links
4,1.FC Heidenheim 1846,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links
...,...,...,...,...,...,...,...,...,...,...
501,VfL Wolfsburg,391004,Jonas Wind,07.02.1999,25,Hvidovre,Daenemark,1.90,Sturm - Mittelstuermer,rechts
502,VfL Wolfsburg,616344,Tiago Tomas,16.06.2002,22,Cascais,Portugal,1.80,Sturm - Mittelstuermer,rechts
503,VfL Wolfsburg,314288,Lukas Nmecha,14.12.1998,26,Hamburg,Deutschland/England,1.85,Sturm - Mittelstuermer,rechts
504,VfL Wolfsburg,117432,Kevin Behrens,03.02.1991,33,Bremen,Deutschland,1.85,Sturm - Mittelstuermer,beidfuessig
505,VfL Wolfsburg,535551,Bartosz Bialek,11.11.2001,23,Brzeg,Polen,1.91,Sturm - Mittelstuermer,rechts

Bereinigter df_seasons DataFrame:

Empty DataFrame
Columns: [spieler_id, Wettbewerb_id, Saison, Wettbewerb, Verein, Einsätze, Tore, Torvorlagen, Spiele ohne Gegentor, Eingesetzte Minuten]
Index: []

Form von df_spieler_cleaned: (492, 10)
Form von df_seasons_cleaned: (0, 10)

### Count, identify and remove duplicated values

In [37]:
# Count duplicated values in df_spieler
duplicated_values_spieler = df_spieler.duplicated().sum()
print("Duplicated values in df_spieler:", duplicated_values_spieler)

# Identify duplicated rows in df_spieler
duplicated_rows_spieler = df_spieler[df_spieler.duplicated()]
print("Duplicated rows in df_spieler:\n", duplicated_rows_spieler)

# Remove duplicated rows in df_spieler
df_spieler_cleaned = df_spieler.drop_duplicates()
df_spieler_cleaned.head()

# Count duplicated values in df_seasons
duplicated_values_seasons = df_seasons.duplicated().sum()
print("Duplicated values in df_seasons:", duplicated_values_seasons)

# Identify duplicated rows in df_seasons
duplicated_rows_seasons = df_seasons[df_seasons.duplicated()]
print("Duplicated rows in df_seasons:\n", duplicated_rows_seasons)

# Remove duplicated rows in df_seasons
df_seasons_cleaned = df_seasons.drop_duplicates()
df_seasons_cleaned.head()

Duplicated values in df_spieler: 0
Duplicated rows in df_spieler:
 Empty DataFrame
Columns: [Vereinsname, Spieler_id, Name, Geburtsdatum, Spieleralter, Geburtsort, Staatsbuergerschaft, Groesse_in_M, Position, Fuss]
Index: []
Duplicated values in df_seasons: 0
Duplicated rows in df_seasons:
 Empty DataFrame
Columns: [spieler_id, Wettbewerb_id, Saison, Wettbewerb, Verein, Einsätze, Tore, Torvorlagen, Spiele ohne Gegentor, Eingesetzte Minuten]
Index: []

,spieler_id,Wettbewerb_id,Saison,Wettbewerb,Verein,Einsätze,Tore,Torvorlagen,Spiele ohne Gegentor,Eingesetzte Minuten
0,43824,1,'24/25',Bundesliga,1.FC Heidenheim 1846,16,-,NaN,5,1440
1,43824,1,'23/24',Bundesliga,1.FC Heidenheim 1846,34,-,NaN,6,3060
2,43824,1,'22/23',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,15,3060
3,43824,1,'21/22',2. Bundesliga,1.FC Heidenheim 1846,34,-,NaN,8,3060
4,43824,1,'20/21',2. Bundesliga,1.FC Heidenheim 1846,33,-,NaN,10,2970

### Create new variables, enrich the data with open data

# Data storage in database

### Create database

### Create ...-table in the database

### Read data from file to data frame

### Write data to the ...-table in data base

### Query the ...-table

# EDA

## Univariete Non-Graphical EDA

summary, mean, mode, std, groupby, aggregation, variance, value_count, corelation, covariance

## Multivariate Graphical EDA

plot, histogram, matplotlib, boxplot, seaborn, scatter

# Regression Modeling

## Lineaer Regression Model for...

 r-squared, mse

## Random Forest Regression

Weshalb wurde der Code im anderen Projekt genutzt? 
- Ein Random Forest Regressor wurde zur Vorhersage des Marktwerts verwendet, um nichtlineare Zusammenhänge besser abzubilden. (Feature Importance könnte man auch beachten)

Als Orierntierung folgende Dateien aus den Übungen verwenden:
- linear_regression.html
- regression_trees_random_forest.html

# k-means clustering (wird als Synonym für classification verwendet)

Als Orientierung folgende Dateien aus den Übungen verwenden:
- classification_analysis_supermarkets.html
- classification_analysis_titanic.html
- NLP_hotel_reviews_sentiment_prediction.html

# Correct interpretation of model results and measures of fit.

Für Regression verwendete Metriken: MSE, R-squared, fit, Interpretation

Für Classification verwendete Metriken: Accuracy, Precision, Recall, F1-Score, Confusion Matrix, MSE, R-squared, Model Evaluation

Frage 6 wird auch von solchen Metriken gesprochen, die man verwenden soll/darf.