## Libraries and settings

In [7]:
# Libraries
import os
import mysql.connector
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/ProjectDataAnalytics

## Create mysql data base

In [8]:
# Verbindung zur MySQL-Datenbank herstellen
def create_connection():
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Fickerverein777",
            database="player_database.db",
            port=3306
        )
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS db_test")
        cursor.execute("USE db_test")
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS example_table (
                id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(255),
                value INT
            )
        ''')
        connection.commit()
        print("Datenbank und Tabelle erfolgreich erstellt!")
        return connection

    except mysql.connector.Error as err:
        print(f"Fehler: {err}")
        return None

# Verbindung herstellen und schlie√üen
conn = create_connection()
if conn:
    conn.close()

Fehler: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)

## Create SQL-table in the database

## Read data from file to data frame