## Libraries and settings

In [9]:
# Libraries
import os
import mysql.connector
from mysql.connector import Error
from mysql import connector
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/ProjectDataAnalytics

## Create mysql data base

In [18]:
# Verbindung zur MySQL-Datenbank herstellen
import mysql.connector
from mysql.connector import Error

def create_connection():
    try:
        connection = mysql.connector.connect(
            host="127",
            user="root",
            password="EIERLECKE",
            database = "football",
            port=3306,
            connection_timeout=10,
            use_pure=True  # Verbindet direkt per TCP/IP
        )
        cursor = connection.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS db_test")
        cursor.execute("USE db_test")
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS example_table (
                id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(255),
                value INT
            )
        ''')
        connection.commit()
        print("Datenbank und Tabelle erfolgreich erstellt!")
        return connection

    except mysql.connector.Error as err:
        print(f"Fehler: {err}")
        return None

# Verbindung herstellen und schlie√üen
conn = create_connection()
if conn:
    conn.close()

Fehler: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (Errno 111: Connection refused)

## Create SQL-table in the database

## Read data from file to data frame