## Libraries and settings

In [1]:
# Libraries
import os
import pymysql
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a MySQL db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/ProjectDataAnalytics

## Create MySQL data base

In [2]:
# Create data base
try:
    conn = pymysql.connect(host='127.0.0.1', user='root', password='Fickerverein777')
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE IF NOT EXISTS player_database")
    cursor.execute("USE player_database")

    # Show dbs in the directory
    cursor.execute("SHOW DATABASES")
    for db in cursor.fetchall():
        print(db)
except pymysql.MySQLError as e:
    print(f"Error connecting to MySQL Platform: {e}")
finally:
    if 'conn' in locals() and conn.open:
        conn.close()

Error connecting to MySQL Platform: (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)")

## Create SQL-table in the database

In [3]:
# Create tables
try:
    conn = pymysql.connect(host='127.0.0.1', user='root', password='Fickerverein777', database='player_database')
    cursor = conn.cursor()
    
    cursor.execute('''CREATE TABLE IF NOT EXISTS verein_table (Vereinsname_ID VARCHAR(200) PRIMARY KEY)''')
    
    cursor.execute('''CREATE TABLE IF NOT EXISTS spieler_table (Spieler_id INT PRIMARY KEY,
                                                               Name VARCHAR(200),
                                                               Geburtsdatum DATE,
                                                               Spieleralter INT,
                                                               Geburtsort VARCHAR(200),
                                                               Staatsbuergerschaft VARCHAR(100),
                                                               Groesse_in_M DECIMAL(4,2),
                                                               Position VARCHAR(200),
                                                               Fuss VARCHAR(10),
                                                               Vereinsname_ID VARCHAR(200),
                                                               FOREIGN KEY (Vereinsname_ID) REFERENCES verein_table(Vereinsname_ID))''')
    # Confirm changes to the table
    conn.commit()
except pymysql.MySQLError as e:
    print(f"Error: {e}")
finally:
    if 'conn' in locals() and conn.open:
        conn.close()

Error: (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)")

## Read data from file to data frame

In [4]:
df = pd.read_csv('spieler_profil.csv', 
                  sep=';', 
                  encoding='utf-8')[['Vereinsname']]

vereine_df = df[['Vereinsname']].drop_duplicates().reset_index(drop=True)
print(vereine_df.shape)
vereine_df.head(5)

(18, 1)

            Vereinsname
0  1.FC Heidenheim 1846
1     1.FC Union Berlin
2        1.FSV Mainz 05
3   Bayer 04 Leverkusen
4     Borussia Dortmund

In [5]:
df = pd.read_csv('spieler_profil.csv', 
                  sep=';', 
                  encoding='utf-8')[['Vereinsname', 'Spieler_id', 'Name', 'Geburtsdatum', 'Spieleralter', 'Geburtsort', 'Staatsbuergerschaft', 'Groesse_in_M', 'Position', 'Fuss']]


spieler_df = df[['Spieler_id',
                 'Name',
                 'Geburtsdatum',
                 'Spieleralter',
                 'Geburtsort',
                 'Staatsbuergerschaft',
                 'Groesse_in_M',
                 'Position',
                 'Fuss',
                 'Vereinsname']]
print(spieler_df.shape)
spieler_df.head(5)

(506, 10)

,Spieler_id,Name,Geburtsdatum,Spieleralter,Geburtsort,Staatsbuergerschaft,Groesse_in_M,Position,Fuss,Vereinsname
0,43824,Kevin Muller,15.03.1991,33,Rostock,Deutschland,1.90,Torwart,rechts,1.FC Heidenheim 1846
1,806948,Frank Feller,07.01.2004,21,Leonberg,Deutschland,1.83,Torwart,rechts,1.FC Heidenheim 1846
2,57796,Vitus Eicher,05.11.1990,34,Erding,Deutschland,1.91,Torwart,links,1.FC Heidenheim 1846
3,519035,Paul Tschernuth,20.01.2002,22,Salzburg,Oesterreich,1.86,Torwart,links,1.FC Heidenheim 1846
4,227084,Benedikt Gimber,19.02.1997,27,Buchen,Deutschland,1.87,Abwehr - Innenverteidiger,links,1.FC Heidenheim 1846